body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('https://i.pinimg.com/736x/6f/a9/c3/6fa9c33211ce7c08f2cc4fcef6144b7d.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: #333;
}

p {
  font-size: 24px;
}

label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submitButton {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

#submitButton:hover {
  background-color: #45a049;
}

#result-container {
  display: flex;
  flex-direction: column; /* Đặt chiều dọc */
  align-items: center; /* Canh giữa theo chiều dọc */
}

#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#message {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(to right, rgba(50, 173, 170, 0.8), rgba(255, 105, 97, 0.8));
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}
